.navbar {
    background-color: transparent;
    z-index: 1;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
    }
}
.view {
    background: url("./../assets/images/people-2590524_1920.jpg") no-repeat center center;
    background-size: cover;
}
.view.hm-black-strong {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.main-header {
    font-weight: bold;
    font-size: 3.5vw;
}